<!DOCTYPE html>
<html ng-app="app">
<head lang="en">
    <meta charset="UTF-8">
    <title>Resume Admin</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="bower_components/nsPopover/css/nsPopover.css">
    <link rel="stylesheet" href="styles/main.css">

</head>
<body>
<div id="applicationHost" class="container body-content admin-appHost">
    <div data-ng-include="'app/layout/shell.html'"></div>
</div>

<div>
    <a ng-click="openModal()">Click Here</a>

    <modal open="modalOpen" options="{top:35, height:300}" on-close="modalClosed(response)">
        <div class="panel panel-primary" ng-controller="modalCtrl">
            <div class="panel-heading">Are you sure?</div>
            <div class="panel-body">
                <div class="btn btn-success" ng-click="close('yes')">Yes</div>
                <div class="btn btn-success" ng-click="close('no')">No</div>
            </div>
        </div>
    </modal>
</div>

<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="bower_components/angular/angular.min.js"></script>
<script src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
<script src="bower_components/nsPopover/src/nsPopover.js"></script>

<!-- inject:js -->
<script src="app/app.js"></script>
<script src="app/layout/navbar.js"></script>
<script src="app/layout/shell.controller.js"></script>
<script src="app/personalInfo/personalInfoService.js"></script>
<script src="app/resumes/personalInfoTipDirective.js"></script>
<script src="app/resumes/ResumeController.js"></script>
<script src="app/resumes/ResumeModalController.js"></script>
<script src="app/resumes/ResumeModelItemController.js"></script>
<script src="app/resumes/resumeService.js"></script>
<script src="app/resumes/SelectOptionsBindDirective.js"></script>
<script src="app/shared/modalDirective.js"></script>
<!-- endinject -->
</body>
</html>