<!DOCTYPE html>
<html ng-app="app">
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script type="application/javascript">
        $(document).ready(function(event) {
            $('select').on('mouseenter','option',function(e) {
                alert('yeah');
                // this refers to the option so you can do this.value if you need..
            });
        });
    </script>
</head>
<body ng-controller="TestCtrl as vm">
    <div>
        <select>
            <option>one</option>
            <option>two</option>
        </select>
        <select test-on ng-model="vm.selected" >
            <option ng-repeat="item in vm.items" value="{{item}}">{{item}}</option>
        </select>
        <select ng-model="vm.selected2" >
            <option ng-repeat="item in vm.items2" value="{{item.id}}">{{item.name}}</option>
        </select>
        <select ng-model="selectedItem" ng-options="item.name for item in vm.items2">
        </select>
        <p>vm.selected = {{vm.selected}}</p>
        <p>vm.selected2 = {{vm.selected2}}</p>

        <p>selected3 is : {{selectedItem}}</p>
        <p> age of selected 3 is : {{selectedItem.age}} </p>
    </div>

    <script src="bower_components/angular/angular.min.js"></script>
    <script src="app2/app.js"></script>

</body>
</html>